#success .content main{
  margin-top: -49px;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  display: flex;
  float: center;
  position: absolute;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
}

#success .content main span svg {
  color: var(--primary-color);
  width: 40px;
  height: 40px;
}

#success .content main h1 {
  color: #FFF;
}

/*
#success .content main a {
  width: 100%;
  max-width: 160px;
  height: 62px;
  background: var(--primary-color);
  border-radius: 8px;
  text-decoration: none;

  display: flex;
  align-items: center;
  overflow: hidden;

  margin-top: 40px;
}

#success .content main a strong {
  flex: 1;
  text-align: center;
  color: #FFF;
}

#success .content main a:hover {
  background: #2FB86E;
}
*/